[Unit]
Description=frpc for Hugo server service
After=newtwork.target syslog.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/local/frps/frpc -c /usr/local/frps/frpc-hugo.ini
### && /usr/local/frps/frps -c /usr/local/frps/frps_1.ini

[Install]
WantedBy=multi-user.target

