[Unit]
Description=RedShoreTech WebSite

[Service]
User=root
WorkingDirectory=/root/sites/redshore/
ExecStart=/bin/bash -c 'hugo server --bind=0.0.0.0 -D -F'
# optional items below
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target

