[Unit]
Description=RedShoreTech WebSite

[Service]
User=root
WorkingDirectory=/root/sites/redshore/
###ExecStart=/bin/bash -c 'hugo server --bind=wumaseman.com -p 80 -D -F'
ExecStart=/bin/bash -c 'hugo server -w -D --bind=0.0.0.0 -b redshore.space -p 80 --logLevel error'
# optional items below
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target

